@page "/wisc3"

@using Silvestre.Pshychology.Tools.WISC3.WebComponent.Components;

@inject Microsoft.Extensions.Localization.IStringLocalizer<WISC3> Localization

<div class="flex flex-row flex-wrap mt-2">
    <div class="mb-4 flex-none w-full bg-yellow-300 bg-opacity-75 rounded ring-4 ring-yellow-200 p-1" role="alert">
        <b>@Localization["Warning"]</b> @Localization["WarningDetails"]
    </div>

    <div class="mr-4 mb-4 flex-none w-6/12 flex flex-col bg-gray-100 rounded-xl shadow-md items-left p-2 space-y-5">
        <div class="flex-auto flex flex-row divide-x divide-black space-x-4">
            <div class="flex-initial">
                <div>
                    <label for="testDate" class="font-bold">@Localization["TestDate"]</label>
                    <input type="date" class="mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black" id="testDate" required @bind="TestDate" />
                </div>
                <div>
                    <label for="subjectBirthday" class="font-bold">@Localization["SubjectBirthday"]</label>
                    <input type="date" class="mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black" id="subjectBirthday" required @bind="SubjectBirthday" />
                </div>
            </div>
            <div class="flex-1 pl-4">
                <table class="table-fixed flex-auto w-full h-full border-gray-600 border-separate rounded-xl bg-gray-600">
                    <thead class="text-white">
                        <tr>
                            <td class="w-2/4 invisible"></td>
                            <td class="w-2/12 uppercase font-bold">@Localization["SubjectAge.Display.Year"]</td>
                            <td class="w-2/12 uppercase font-bold">@Localization["SubjectAge.Display.Month"]</td>
                            <td class="w-2/12 uppercase font-bold">@Localization["SubjectAge.Display.Day"]</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="text-white uppercase font-bold">@Localization["TestDate"]</td>
                            <td class="bg-gray-100">@(TestDate?.Year.ToString() ?? "-")</td>
                            <td class="bg-gray-100">@(TestDate?.Month.ToString() ?? "-")</td>
                            <td class="bg-gray-100">@(TestDate?.Day.ToString() ?? "-")</td>
                        </tr>
                        <tr>
                            <td class="text-white uppercase font-bold">@Localization["SubjectBirthday"]</td>
                            <td class="bg-gray-100">@(SubjectBirthday?.Year.ToString() ?? "-")</td>
                            <td class="bg-gray-100">@(SubjectBirthday?.Month.ToString() ?? "-")</td>
                            <td class="bg-gray-100">@(SubjectBirthday?.Day.ToString() ?? "-")</td>
                        </tr>
                        <tr>
                            <td class="text-white uppercase font-bold">@Localization["SubjectAge"]</td>
                            @if (TestDate == null || SubjectBirthday == null)
                            {
                            <td class="bg-gray-100">-</td>
                            <td class="bg-gray-100">-</td>
                            <td class="bg-gray-100">-</td>
                            }
                            else
                            {
                            <td class="bg-gray-100">@(GetYearsBetween(TestDate.Value, SubjectBirthday.Value).ToString())</td>
                            <td class="bg-gray-100">@(GetMonthsBetween(TestDate.Value, SubjectBirthday.Value).ToString())</td>
                            <td class="bg-gray-100">@(GetDaysBetween(TestDate.Value, SubjectBirthday.Value).ToString())</td>
                            }
                        </tr>
                    </tbody>
                </table>
            </div>
            @if (IsInitialInputValid)
            {
            <div class="flex-initial pl-4">
                <svg class="stroke-current stroke-2 w-10 h-10" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
                </svg>
                <label class="break-words w-4">@Localization["Button.ShowLookupTable"]</label>
            </div>
            }
        </div>

        @if (IsInitialInputValid)
        {
        <div>
            <div class="hidden" id="LookupTableVisualizer">
                <div class="card card-body">
                    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#LookupTableVisualizer">@Localization["Button.Hide"]</button>
                    <WISC3LookupTableVisualizer Standardizer="WISC3ViewModel.StanderdizationPhase.Standardizer" SubjectAge="WISC3ViewModel.SubjectAge.Value" />
                </div>
            </div>
        </div>
        }
    </div>

    @if (IsInitialInputValid)
    {
    <div class="mr-2 w-3/6 bg-gray-100 rounded-xl shadow-md justify-items-center p-2 focus-within:border-2 focus-within:border-gray-600">
        <table class="table-fixed w-full border-2 border-gray-600 border-separate items-center rounded-xl bg-gray-600">
            <thead class="text-white">
                <tr>
                    <td rowspan="2" class="w-2/6 uppercase font-bold">@Localization["TestsDescription"]</td>
                    <td rowspan="2" class="w-1/6 uppercase font-bold">@Localization["TestsRawResults"]</td>
                    <td colspan="5" class="w-3/6 uppercase font-bold">@Localization["TestsPatternResults"]</td>
                </tr>
                <tr class="bg-gray-400">
                    <td data-toggle="tooltip" class="uppercase font-bold" title="@Localization["TestsPatternResults.Verbal.MouseHover"]">@Localization["TestsPatternResults.Verbal"]</td>
                    <td data-toggle="tooltip" class="uppercase font-bold" title="@Localization["TestsPatternResults.Realization.MouseHover"]">@Localization["TestsPatternResults.Realization"]</td>
                    <td data-toggle="tooltip" class="uppercase font-bold" title="@Localization["TestsPatternResults.VerbalComprehension.MouseHover"]">@Localization["TestsPatternResults.VerbalComprehension"]</td>
                    <td data-toggle="tooltip" class="uppercase font-bold" title="@Localization["TestsPatternResults.PerceptiveOrganization.MouseHover"]">@Localization["TestsPatternResults.PerceptiveOrganization"]</td>
                    <td data-toggle="tooltip" class="uppercase font-bold" title="@Localization["TestsPatternResults.ProcessingVelocity.MouseHover"]">@Localization["TestsPatternResults.ProcessingVelocity"]</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var test in WISC3ViewModel.StanderdizationPhase.AllTests)
                {
                <tr class="bg-gray-100">
                    @if (test.Mandatory)
                    {
                    <td class="bg-gray-400">@Localization[$"Test.{test.TestName}"]</td>
                    }
                    else
                    {
                    <td class="bg-gray-300">(@Localization[$"Test.{test.TestName}"])</td>
                    }
                    <td><input type="number" class="w-full border-0 bg-white" @bind="test.RawResult" /></td>

                    <td @attributes="GetTestResultAttributes(test.RawResult, test.StandardVerbal)">@test.StandardVerbal</td>
                    <td @attributes="GetTestResultAttributes(test.RawResult, test.StandardRealization)">@test.StandardRealization</td>
                    <td @attributes="GetTestResultAttributes(test.RawResult, test.StandardVerbalComprehension)">@test.StandardVerbalComprehension</td>
                    <td @attributes="GetTestResultAttributes(test.RawResult, test.StandardPerceptiveOrganization)">@test.StandardPerceptiveOrganization</td>
                    <td @attributes="GetTestResultAttributes(test.RawResult, test.StandardProcessingVelocity)">@test.StandardProcessingVelocity</td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr class="bg-gray-100">
                    <td class="bg-gray-400">@Localization["Test.SumResults"]</td>
                    <td class="bg-gray-600"></td>
                    <td>@WISC3ViewModel.StanderdizationPhase.VerbalTotal</td>
                    <td>@WISC3ViewModel.StanderdizationPhase.RealizationTotal</td>
                    <td>@WISC3ViewModel.StanderdizationPhase.VerbalComprehensionTotal</td>
                    <td>@WISC3ViewModel.StanderdizationPhase.PerceptiveOrganizationTotal</td>
                    <td>@WISC3ViewModel.StanderdizationPhase.ProcessingVelocityTotal</td>
                </tr>
                <tr>
                    <td colspan="2"></td>
                    <td colspan="2" class="border-t-2 bg-gray-100">@(WISC3ViewModel.StanderdizationPhase.VerbalTotal + WISC3ViewModel.StanderdizationPhase.RealizationTotal)</td>
                    <td colspan="4"></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="ml-2 w-2/5 bg-gray-100 rounded-xl shadow-md justify-items-center p-2 divide-y-2 focus-within:border-2 focus-within:border-gray-600">
        <table class="table-fixed rounded-xl bg-gray-600 border-gray-600 border-separate">
            <thead class="text-white">
                <tr>
                    <td class="w-2/6"></td>
                    <td class="w-1/6 uppercase font-bold">@Localization["TestsPatternResults"]</td>
                    <td class="w-1/6 uppercase font-bold">@Localization["QI"]</td>
                    <td class="w-1/6 uppercase font-bold">@Localization["Percentil"]</td>
                    <td class="w-1/6 uppercase font-bold">@Localization["ConfidenceInterval"]</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var calculatedQI in WISC3ViewModel.CalculatorPhase.AllCalculatedQI)
                {
                <tr>
                    <td class="uppercase text-white font-bold">@Localization[$"QI.{calculatedQI.Name}"]</td>
                    <td class="bg-gray-200">@calculatedQI.StandardResult</td>
                    <td class="bg-gray-200">@calculatedQI.IndexQI</td>
                    <td class="bg-gray-200">@calculatedQI.Percentil</td>
                    <td class="bg-gray-200">@calculatedQI.ConfidenceInterval95?.LowerBound - @calculatedQI.ConfidenceInterval95?.UpperBound</td>
                </tr>
                }
            </tbody>
        </table>

        @if (WISC3ViewModel.ShouldShowCharts)
        {
        <div class="mt-4 w-full h-full justify-items-center focus-within:border-2 focus-within:border-gray-600">
            <canvas @ref="QIResultsChart" />
        </div>
        }
    </div>
}
</div>

<div class="mt-4 flex-auto flex flex-row bg-gray-100 rounded-xl shadow-md justify-items-center">
    @if (WISC3ViewModel.ShouldShowCharts)
    {
    <div class="flex-auto w-1/2">
        <canvas @ref="StandardResultsChart" />
    </div>
    <div class="flex-auto w-1/2">
        <canvas @ref="StandardFactorialIndicesChart" />
    </div>
    }
</div>