@page "/wisc3"
@attribute [RenderModeInteractiveWebAssembly(prerender: true)]

@using Silvestre.Psychology.Tools.WISC3.WebComponent.Components;

<PageTitle>WISC-III</PageTitle>

<HeadContent>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="keywords" content="silvestre,wisc3,wisc-iii,wisc,psychology" />
    <meta name="description" content="Uma calculadora WISC-III para ajudar a conseguir resultados de confiança muito mais rápido, ajustado para o universo Português." />
</HeadContent>

<div class="md:hidden print:hidden">
    @Localization["DeviceSizeSmall"]
</div>

<div class="hidden md:flex print:flex flex-col space-y-4 flex-wrap mt-2">
    <div class="flex-auto w-full bg-yellow-300 bg-opacity-75 rounded ring-4 ring-yellow-200 p-1" role="alert">
        <b>@Localization["Warning"]</b> @Localization["WarningDetails"]
    </div>

    <div class="flex-initial flex flex-col bg-gray-100 rounded-xl shadow-md items-left p-2 space-y-5">
        <div class="flex-auto flex flex-row divide-x divide-black space-x-4">
            <div class="flex-auto space-y-2">
                <label class="font-extrabold block uppercase">@Localization["Input"]</label>

                <div>
                    <label for="testDate" class="font-bold">@Localization["TestDate"]</label>
                    <input type="date" class="mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black" id="testDate" required @bind="TestDate" />
                </div>
                <div>
                    <label for="subjectBirthday" class="font-bold">@Localization["SubjectBirthday"]</label>
                    <input type="date" class="mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black" id="subjectBirthday" required @bind="SubjectBirthday" />
                </div>

                <div class="flex flex-row space-x-4 mx-auto justify-end">
                    <button class="bg-gray-300 rounded-xl p-2 disabled:opacity-50" @onclick="ShowLookupTable">
                        <svg class="block stroke-current stroke-2 w-6 h-6 mx-auto" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3 10h18M3 14h18m-9-4v8m-7 0h14a2 2 0 002-2V8a2 2 0 00-2-2H5a2 2 0 00-2 2v8a2 2 0 002 2z" />
                        </svg>
                        @Localization["Button.ShowLookupTable"]
                    </button>
                    <button class="bg-gray-300 rounded-xl p-2 disabled:opacity-50" @onclick="StartFresh">
                        <svg class="block stroke-current stroke-2 w-6 h-6 mx-auto" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                        </svg>
                        @Localization["Button.StartNew"]
                    </button>
                </div>
            </div>

            <div class="flex-auto pl-4">                
                <div>
                    <label class="font-extrabold block uppercase">@Localization["SubjectAge"]</label>

                    <label for="subjectAgeYear" class="font-bold">@Localization["SubjectAge.Display.Year"]</label>
                    <input type="number" class="mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black" id="subjectAgeYear" disabled value="@this.ViewModel?.SubjectAge?.Years" />
                    <label for="subjectAgeMonth" class="font-bold">@Localization["SubjectAge.Display.Month"]</label>
                    <input type="number" class="mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black" id="subjectAgeMonth" disabled value="@this.ViewModel?.SubjectAge?.Months" />
                    <label for="subjectAgeDay" class="font-bold">@Localization["SubjectAge.Display.Day"]</label>
                    <input type="number" class="mt-0 block w-full px-0.5 border-0 border-b-2 border-gray-200 focus:ring-0 focus:border-black" id="subjectAgeDay" disabled value="@this.ViewModel?.SubjectAge?.Days" />
                </div>
            </div>
        </div>

        <div>
            @if (ReadyToTest)
            {
            <div class="@(ShowLookupTableVisualizer ? string.Empty : "hidden")" id="LookupTableVisualizer">
                <div class="card card-body">
                    <WISC3LookupTableVisualizer Standardizer="this.ViewModel.StanderdizationPhase.Standardizer" SubjectAge="this.ViewModel.SubjectAge.Value" />
                </div>
            </div>
            }
        </div>
    </div>

    <div class="flex-1 space-y-4 xl:space-y-0 xl:space-x-4 flex xl:flex-row flex-col text-sm">
        <div class="flex-1 bg-gray-100 rounded-xl shadow-md justify-items-center p-2 focus-within:border-2 focus-within:border-gray-600">
            <table class="table-fixed w-full border-2 border-gray-600 border-separate items-center rounded-xl bg-gray-600">
                <thead class="text-white">
                    <tr>
                        <td rowspan="2" class="w-2/6 uppercase font-bold">@Localization["TestsDescription"]</td>
                        <td rowspan="2" class="w-1/6 uppercase font-bold">@Localization["TestsRawResults"]</td>
                        <td colspan="5" class="w-3/6 uppercase font-bold">@Localization["TestsPatternResults"]</td>
                    </tr>
                    <tr class="bg-gray-400">
                        <td data-toggle="tooltip" class="uppercase font-bold" title="@Localization["TestsPatternResults.Verbal.MouseHover"]">@Localization["TestsPatternResults.Verbal"]</td>
                        <td data-toggle="tooltip" class="uppercase font-bold" title="@Localization["TestsPatternResults.Realization.MouseHover"]">@Localization["TestsPatternResults.Realization"]</td>
                        <td data-toggle="tooltip" class="uppercase font-bold" title="@Localization["TestsPatternResults.VerbalComprehension.MouseHover"]">@Localization["TestsPatternResults.VerbalComprehension"]</td>
                        <td data-toggle="tooltip" class="uppercase font-bold" title="@Localization["TestsPatternResults.PerceptiveOrganization.MouseHover"]">@Localization["TestsPatternResults.PerceptiveOrganization"]</td>
                        <td data-toggle="tooltip" class="uppercase font-bold" title="@Localization["TestsPatternResults.ProcessingVelocity.MouseHover"]">@Localization["TestsPatternResults.ProcessingVelocity"]</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var test in this.ViewModel.StanderdizationPhase.AllTests)
                    {
                    <tr class="bg-gray-100">
                        <td class="@(test.Mandatory ? "bg-gray-400" : "bg-gray-300")">
                            <span>@Localization[$"Test.{test.TestName}"]</span>
                            <svg class="float-right inline text-red-900 w-6 h-6 @(test.RawResultOutOfBounds ? "" : "hidden")" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                              <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7 4a1 1 0 11-2 0 1 1 0 012 0zm-1-9a1 1 0 00-1 1v4a1 1 0 102 0V6a1 1 0 00-1-1z" clip-rule="evenodd">
                                  <title>@string.Format(Localization["TestsPatternResults.Error.OutOfBounds"], test.MinRawResult, test.MaxRawResult)</title>
                              </path>
                            </svg>
                        </td>

                        <td><input type="number" class="w-full border-0 bg-white" @bind="test.RawResult" min="@test.MinRawResult" max="@test.MaxRawResult" /></td>

                        <td @attributes="GetTestResultAttributes(test.RawResult, test.StandardVerbal)">@test.StandardVerbal</td>
                        <td @attributes="GetTestResultAttributes(test.RawResult, test.StandardRealization)">@test.StandardRealization</td>
                        <td @attributes="GetTestResultAttributes(test.RawResult, test.StandardVerbalComprehension)">@test.StandardVerbalComprehension</td>
                        <td @attributes="GetTestResultAttributes(test.RawResult, test.StandardPerceptiveOrganization)">@test.StandardPerceptiveOrganization</td>
                        <td @attributes="GetTestResultAttributes(test.RawResult, test.StandardProcessingVelocity)">@test.StandardProcessingVelocity</td>
                    </tr>
                    }
                </tbody>
                <tfoot>
                    <tr class="bg-gray-100">
                        <td class="bg-gray-400">@Localization["Test.SumResults"]</td>
                        <td class="bg-gray-600"></td>
                        <td>@this.ViewModel.StanderdizationPhase.VerbalTotal</td>
                        <td>@this.ViewModel.StanderdizationPhase.RealizationTotal</td>
                        <td>@this.ViewModel.StanderdizationPhase.VerbalComprehensionTotal</td>
                        <td>@this.ViewModel.StanderdizationPhase.PerceptiveOrganizationTotal</td>
                        <td>@this.ViewModel.StanderdizationPhase.ProcessingVelocityTotal</td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td colspan="2" class="border-t-2 bg-gray-100">@(this.ViewModel.StanderdizationPhase.VerbalTotal + this.ViewModel.StanderdizationPhase.RealizationTotal)</td>
                        <td colspan="4"></td>
                    </tr>
                </tfoot>
            </table>
        </div>

        <div class="flex-1 bg-gray-100 rounded-xl shadow-md justify-items-center p-2 divide-y-2 focus-within:border-2 focus-within:border-gray-600">
            <table class="table-fixed rounded-xl bg-gray-600 border-gray-600 border-separate">
                <thead class="text-white">
                    <tr>
                        <td class="w-2/6"></td>
                        <td class="w-1/6 uppercase font-bold">@Localization["TestsPatternResults"]</td>
                        <td class="w-1/6 uppercase font-bold">@Localization["QI"]</td>
                        <td class="w-1/6 uppercase font-bold">@Localization["Percentil"]</td>
                        <td class="w-1/6 uppercase font-bold">@Localization["ConfidenceInterval"]</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td class="uppercase font-bold"></td>
                        <td class="uppercase font-bold"></td>
                        <td class="uppercase font-bold"></td>
                        <td class="uppercase font-bold">
                            <select class="bg-gray-600 text-white text-xs" @bind="VisualizationConfidenceInterval">
                                <option value="@ConfidenceIntervalEnum.Percentil90">90%</option>
                                <option value="@ConfidenceIntervalEnum.Percentil95">95%</option>
                            </select>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var calculatedQI in this.ViewModel.CalculatorPhase.AllCalculatedQI)
                    {
                    <tr>
                        <td class="uppercase text-white font-bold">@Localization[$"QI.{calculatedQI.Name}"]</td>
                        <td class="bg-gray-200">@calculatedQI.StandardResult</td>
                        <td class="bg-gray-200">
                            @calculatedQI.IndexQI

                            @if (calculatedQI.AverageComparisonResult != null)
                            {
                            <svg class="w-8 h-8 float-right" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                @if (calculatedQI.AverageComparisonResult == AverageComparisonResultEnum.ExtremelyBelow)
                                {  
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 15l-7 7l-7-7m14-5l-7 7l-7-7m14-5l-7 7l-7-7" />
                                }
                                
                                @if (calculatedQI.AverageComparisonResult == AverageComparisonResultEnum.FarBelow)
                                {
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 13l-7 7-7-7m14-8l-7 7-7-7" />
                                }

                                @if (calculatedQI.AverageComparisonResult == AverageComparisonResultEnum.Below)
                                {
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
                                }
                                
                                @if (calculatedQI.AverageComparisonResult == AverageComparisonResultEnum.OnAverage)
                                {
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 12l-9 0M16 9l-9 0" />
                                }
                                
                                @if (calculatedQI.AverageComparisonResult == AverageComparisonResultEnum.Above)
                                {
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7" />
                                }
                                
                                @if (calculatedQI.AverageComparisonResult == AverageComparisonResultEnum.FarAbove)
                                {
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11l7-7 7 7M5 19l7-7 7 7" />
                                }
                                
                                @if (calculatedQI.AverageComparisonResult == AverageComparisonResultEnum.ExtremelyAbove)
                                {
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 11l7-7l7 7M5 16l7-7l7 7M5 21l7-7l7 7" />
                                }

                                <title>@Localization[$"QI.AverageComparison.{Enum.GetName(typeof(AverageComparisonResultEnum), calculatedQI.AverageComparisonResult)}"]</title>
                            </svg>
                            }
                        </td>
                        <td class="bg-gray-200">@calculatedQI.Percentil</td>
                        @if (VisualizationConfidenceInterval == ConfidenceIntervalEnum.Percentil90)
                        {
                        <td class="bg-gray-200">@calculatedQI.ConfidenceInterval90?.LowerBound - @calculatedQI.ConfidenceInterval90?.UpperBound</td>
                        }
                        else if (VisualizationConfidenceInterval == ConfidenceIntervalEnum.Percentil95)
                        {
                        <td class="bg-gray-200">@calculatedQI.ConfidenceInterval95?.LowerBound - @calculatedQI.ConfidenceInterval95?.UpperBound</td>
                        }
                        else
                        {
                        <td class="bg-gray-200">??? - ???</td>
                        }
                    </tr>
                    }
                </tbody>
            </table>

            <div class="mt-4 justify-items-center focus-within:border-2 focus-within:border-gray-600">
                <canvas class="object-contain" @ref="QIResultsChart" />
            </div>
        </div>
    </div>

    <div class="flex-auto flex flex-col xl:flex-row bg-gray-100 rounded-xl shadow-md justify-items-center">
        <div class="flex-1">
            <canvas class="object-contain" @ref="StandardResultsChart" />
        </div>
        <div class="flex-1 pb-2">
            <canvas class="object-contain" @ref="StandardFactorialIndicesChart" />
        </div>
    </div>
</div>